# Archivos de Node.js / NPM
/node_modules
npm-debug.log
.DS_Store

# Archivos y carpetas de Apify CLI (almacenamiento local)
/storage
apify_storage/

# Archivos de compilacion / temporales
/dist
/build
.apify-temp
.idea
.vscode
.zed
dist
node_modules
apify_storage
storage

# Added by Apify CLI
.venv